<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    <div
      class="fixed top-0 w-screen px-4 py-4 md:px-10 bg-slate-200 bg-opacity-90"
    >
    <div class="flex items-center justify-between max-w-6xl mx-auto">
      <a href="/wiki/" title="Home">
        <img src="/wiki/assets/avatar.png" class="w-10 h-10 " />
      </a>

      <nav class="flex space-x-2 uppercase">
        <a href="/wiki/" class="p-4 rounded hover:bg-slate-600 hover:text-slate-200"
          >Home</a
        >
        <a
          href="/wiki/notes/Step 1"
          class="p-4 rounded hover:bg-slate-600 hover:text-slate-200"
          >Step 1</a
          >
      </nav>
    </div>
    </div>
    <div class="mx-auto">

    <div class="flex items-center justify-center max-w-full px-6 mt-32 mb-32">
      <div  class="prose">{{content}}</div>
    </div>

    <!-- {% include 'backlinks.html' %} -->

    <footer>
      <div class="max-w-6xl mb-10 text-sm text-center mt-96 ">
        By {{site.author}}
      </div>
      </div>
    </footer>
  </body>
</html>
