<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body class="h-screen bg-ember scroll-smooth">
    <div
      class="fixed top-0 w-screen"
    >
    <div class="flex items-center justify-between max-w-4xl px-4 py-4 mx-auto md:px-10 bg-ember bg-opacity-90">
     <a href="/wiki/"> <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor">
  <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
</svg></a>

      <nav class="flex space-x-2 font-semibold uppercase">
        <a href="/wiki/" class="p-4 rounded hover:bg-zinc-800 hover:text-zinc-200"
          >Home</a
        >
        <a
          href="/wiki/notes/Step 1"
          class="p-4 font-semibold rounded hover:bg-zinc-800 hover:text-zinc-200"
          >Step 1</a
          >
      </nav>
    </div>
    </div>

    <div class="flex items-center justify-center flex-none max-w-4xl px-6 mx-auto mt-32 mb-32">
      <div  class="font-serif prose prose-lg prose-h1:text-xl prose-h2:text-lg md:prose-2xl md:prose-h1:text-4xl md:prose-h2:text-3xl prose-hr:border-zinc-900 hover:prose-a:bg-zinc-800 hover:prose-a:text-zinc-200">{{content}}
      </div>
    </div>
    
     <div class="fixed hidden ml-8 right-[5%] 2xl:block top-48 border-l-2 border-zinc-600 px-2"> 
        {{content | toc}}
      </div>


    <div class="max-w-4xl p-2 mx-auto font-sans font-semibold uppercase bg-emberdark">Backlinks</div>
    <div class="mx-auto font-serif prose prose-lg hover:prose-a:bg-zinc-800 hover:prose-a:text-zinc-200">
      
      {% include 'backlinks.html' %}</div>

    <footer>
      <div class="max-w-6xl mx-auto mb-10 text-sm text-center mt-96">
        By {{site.author}}
      </div>
      </div>
    </footer>
  </body>
</html>
