<!-- <hr /> -->

{% if backlinks.length > 0%}

<ul>
  {% for link in backlinks %}
  <li>
    <div class="">
      <a href="{{link.url}}" class="peer">{{link.title}}</a>
      <div
        role="none"
        class="absolute hidden px-8 py-4 overflow-hidden prose-sm prose border rounded-md shadow-md w-fit max-h-80 peer-hover:block bg-ember prose-headings:hidden prose-hr:hidden"
      >
        {{link.preview | markdownify }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p>No backlinks found.</p>
{% endif %}
